.col {
    /*width: 150px;*/
    border: 1px solid grey;/*blue*/
    text-align: center;/*green*/
    font-size: 14px;
}
.col.morning{
    background-color: #74B5CF;
}
.col.evening{
    background-color: #8CBA2F;
}
.marsh {
    font-size: 24px;
    text-align: center;
}
table{
    border-collapse: collapse;
}
.col.white{
    background-color: white;
    width: 5px;
}
.col.green{
    background-color: green;
    width: 5px;
}
#wrapper {
    border: 1px solid blue;
    max-width: 1024px;
}

/*.list{
     width: 35%;
    display: inline-block;
    height: 70vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}*/
/* #map{
     display: inline-block;
     width: 64%;
     height: 70vh;
     margin: 0;
     padding: 0;
 }
 #list{
     text-align: center;
     border: 1px solid grey;
 }*/
