/*body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ul li,menu li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}*/
body{margin:0;padding:0;}

.col {
    /*width: 150px;*/
    max-width: 150px;
    border: 1px solid grey;/*blue*/
    text-align: center;/*green*/
    font-size: 14px;
}
.col.morning{
    background-color: #74B5CF;
}
.col.evening{
    background-color: #8CBA2F;
}
.marsh {
    font-size: 24px;
    text-align: center;
}
table{
    border-collapse: collapse;
}
.col.white{
    background-color: white;
    width: 5px;
}
.col.green{
    background-color: green;
    width: 5px;
}
#wrapper {
    /*border: 1px solid #22ff28;*/
    /*max-width: 1024px;*/
    display: flex;
    /*/flex-wrap: wrap;*/
}

.marsh_num{
    font-weight: bold;
    color: whitesmoke;
}
 .list{
     text-align: center;
     /*border: 1px solid grey;*/
     overflow-y: scroll;
     height: 90vh;
 }
/*thead{*/
    /*position: fixed;*/
    /*width: 100%;*/
/*}*/
 #mapid{
     /*display: inline-block;*/
     /*/width: 55%;*/
     height: 100vh;
     margin: 0;
     padding: 0;
     /*border: 1px solid red;*/
     flex-grow: 5;
     z-index: 1;
 }
#left_panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#legend{
    order: 1;
    color: red;
}
#m_head{
    display: flex;
    height: 10vh;
    justify-content: center;
}
#page_title{
    order: 2;
}
.line:hover{color:white;}
.pin{
    color: whitesmoke;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 30%;
    text-align: center;
    opacity: 0.5;
    border: 1px solid black;
    padding: 10% 0;
}
.pin:hover{
    opacity: 1;
}
.mt1 {background: rgb(000, 000, 000);}
.mt8 {background: rgb(000, 000, 064);}
.mt9 {background: rgb(000, 000, 128);}
.mt12{background: rgb(000, 064, 000);}
.mt15{background: rgb(000, 128, 000);}
.mt22{background: rgb(000, 064, 064);}
.mt24{background: rgb(000, 064, 128);}
.mt26{background: rgb(000, 064, 128);}
.mt28{background: rgb(064, 100, 128);}
.mt29{background: rgb(000, 192, 000);color:black;}
.mt33{background: rgb(000, 255, 000);color:black;}
.mt34{background: rgb(064, 000, 000);}
.mt35{background: rgb(002, 090, 097);}
.mt37{background: rgb(128, 000, 000);}

.mt39{background: rgb(064, 000, 064);}
.mt40{background: rgb(128, 000, 128);}
.mt41{background: rgb(064, 064, 000);}
.mt42{background: rgb(128, 128, 000);}
.mt45{background: rgb(064, 064, 064);}
.mt46{background: rgb(128, 128, 128);color:black;}
.mt47{background: rgb(192, 064, 192);}
.mt49{background: rgb(192, 192, 192);color:black;}
.mt50{background: rgb(192, 000, 000);}
.mt51{background: rgb(255, 000, 000);}
.mt52{background: rgb(192, 000, 192);}
.mt54{background: rgb(255, 000, 255);}

.mt58{background: rgb(192, 192, 000);color:black;}
.mt60{background: rgb(255, 255, 000);color:black;}
.mt68{background: rgb(255, 128, 255);color:black;}
.mt69{background: rgb(255, 255, 255);color:black;}
.mt79{background: rgb(255, 203, 219);color:black;}
.mt82{background: rgb(249, 090, 097);}
.mt88{background: rgb(255, 145, 164);color:black;}
.mt96{background: rgb(108, 161, 128);color:black;}
.mt97{background: rgb(255, 184, 128);color:black;}
.mt98{background: rgb(185, 211, 128);color:black;}
.mt99{background: rgb(255, 230, 128);color:black;}

#disclaimer{
    position: fixed;
    margin: 0;
    padding: 15px;
    background: black;
    color: whitesmoke;
    font-weight: bold;
    top: 10%;
    left: 10%;
    right: 10%;
    /*width: 85%;*/
    min-width: 320px;
    /*max-width: 600px;*/
    border-radius: 4px;
    z-index: 100;
    //overflow-y: scroll;
    overflow: auto;
    height: 80vh;
    opacity: 0.7;

}
ul {/*собственно сам маркер*/
    list-style-type: disc;
    /*color: red;*/
}
#disclaimer #close, #welcome{
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    /*max-width: 300px;*/
}
#disclaimer a:hover{
    color: blue;
}
#disclaimer a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}